<!-- header -->
<header class="fixed-top header">
    <!-- top header -->
    <div class="top-header py-2 bg-white">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-2 d-flex align-items-centern">
            <% include ./homeCategories %>
          </div>
          <div class="col-lg-10 text-center text-lg-right d-flex align-items-center justify-content-between">
            <!-- Search box -->
            <form id="search-form" role="search">
              <button>
                <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
              </button>
              <input type="search" id="query" name="q"
                placeholder="Search..."
                aria-label="Search within site content">
            </form>
            <%- include('./userMenu', {user:user}); %>
          </div>
        </div>
      </div>
    </div>
    <!-- navbar -->
    <div class="navigation w-100">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark p-0">
          <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
          <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto text-center">
              <% if (page == 'All courses') { %>
                <li class="nav-item active">
                  <a class="nav-link" href="/my-courses/learning">All courses</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/my-courses/learning">All courses</a>
                </li>
              <% } %>
              <% if (page == 'Wishlist') { %>
                <li class="nav-item active">
                  <a class="nav-link" href="/my-courses/wishlist">Wishlist</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/my-courses/wishlist">Wishlist</a>
                </li>
              <% } %>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
</div> 
<!-- /header -->