<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Web Development</a>
      <ul class="dropdown-menu">
        <a class="dropdown-item" href="#">Javascript</a></li>
        <a class="dropdown-item" href="#">React</a>
        <a class="dropdown-item" href="#">CSS</a>
        <a class="dropdown-item" href="#">Angular</a>
      </ul>
    </li>
    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Mobile Development</a>
      <ul class="dropdown-menu">
        <a class="dropdown-item" href="#">Swift</a>
        <a class="dropdown-item" href="#">React Native</a>
        <a class="dropdown-item" href="#">Kotlin</a>
      </ul>
    </li>  
  </ul>
</div>