<div class="user-account--menu">
    <div class="user-avatar">
      <img src="/images/default_avatar.png" alt="default avatar" id="user-avatar">
      <div class="user-menu">
        <div class="user-info">
            <h3 id="user-name"><%= user.name %></h3>
            <h4 id="user-email"><%= user.email %></h4>
        </div>
        <ul class="menu-items">
            <a href="/user/edit-account"><li>Account</li></a>
            <a href="/my-courses/learning"><li>My learning</li></a>
            <a href="/my-courses/wishlist"><li>Wishlist</li></a>
            <a href="#"><li>My cart</li></a>
            <a href="#"><li>Teach on Educenter</li></a>
            <a href="#"><li>Help</li></a>
            <a href="/users/logout"><li>Log out</li></a>
        </ul>
      </div>
    </div>
</div>