<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Educenter</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  
  <!-- slick slider -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
  <!-- animation css -->
  <link rel="stylesheet" href="plugins/animate/animate.css">
  <!-- aos -->
  <link rel="stylesheet" href="plugins/aos/aos.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="plugins/venobox/venobox.css">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
  <link href="css/style.css" rel="stylesheet">
  
  <script src="js/modernizr.js"></script> <!-- Modernizr -->

  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

</head>

<body>
  <div class="preloader">
    <img src="images/preloader.gif" alt="preloader">
  </div>

<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-2 d-flex align-items-centern">
          <div class="cd-dropdown-wrapper" id="categories">
            <a class="cd-dropdown-trigger" href="#0">Categories</a>
            <nav class="cd-dropdown">
              <h2>Title</h2>
              <a href="#0" class="cd-close">Close</a>
              <ul class="cd-dropdown-content">
                <li class="has-children">
                  <a href="#">Development</a>
                  <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#0">Menu</a></li>
                    <li class="see-all"><a href="#">All Clothing</a></li>
                    <li class="has-children">
                      <a href="#">Accessories</a>
      
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Clothing</a></li>
                        <li class="see-all"><a href="#">All Accessories</a></li>
                        <li class="has-children">
                          <a href="#0">Beanies</a>
      
                          <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Accessories</a></li>
                            <li class="see-all"><a href="#">All Benies</a></li>
                            <li><a href="#">Caps &amp; Hats</a></li>
                            <li><a href="#">Gifts</a></li>
                            <li><a href="#">Scarves &amp; Snoods</a></li>
                          </ul>
                        </li>
                        <li class="has-children">
                          <a href="#0">Caps &amp; Hats</a>
      
                          <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Accessories</a></li>
                            <li class="see-all"><a href="#">All Caps &amp; Hats</a></li>
                            <li><a href="#">Beanies</a></li>
                            <li><a href="#">Caps</a></li>
                            <li><a href="#">Hats</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Glasses</a></li>
                        <li><a href="#">Gloves</a></li>
                        <li><a href="#">Jewellery</a></li>
                        <li><a href="#">Scarves</a></li>
                      </ul>
                    </li>
      
                    <li class="has-children">
                      <a href="#">Bottoms</a>
      
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Clothing</a></li>
                        <li class="see-all"><a href="#">All Bottoms</a></li>
                        <li><a href="#">Casual Trousers</a></li>
                        <li class="has-children">
                          <a href="#0">Jeans</a>
      
                          <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Bottoms</a></li>
                            <li class="see-all"><a href="#">All Jeans</a></li>
                            <li><a href="#">Ripped</a></li>
                            <li><a href="#">Skinny</a></li>
                            <li><a href="#">Slim</a></li>
                            <li><a href="#">Straight</a></li>
                          </ul>
                        </li>
                        <li><a href="#0">Leggings</a></li>
                        <li><a href="#0">Shorts</a></li>
                      </ul>
                    </li>
      
                    <li class="has-children">
                      <a href="#">Jackets</a>
      
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Clothing</a></li>
                        <li class="see-all"><a href="#">All Jackets</a></li>
                        <li><a href="#">Blazers</a></li>
                        <li><a href="#">Bomber jackets</a></li>
                        <li><a href="#">Denim Jackets</a></li>
                        <li><a href="#">Duffle Coats</a></li>
                        <li><a href="#">Leather Jackets</a></li>
                        <li><a href="#">Parkas</a></li>
                      </ul>
                    </li>
      
                    <li class="has-children">
                      <a href="#">Tops</a>
      
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Clothing</a></li>
                        <li class="see-all"><a href="#">All Tops</a></li>
                        <li><a href="#">Cardigans</a></li>
                        <li><a href="#">Coats</a></li>
                        <li><a href="#">Polo Shirts</a></li>
                        <li><a href="#">Shirts</a></li>
                        <li class="has-children">
                          <a href="#0">T-Shirts</a>
      
                          <ul class="is-hidden">
                            <li class="go-back"><a href="#0">Tops</a></li>
                            <li class="see-all"><a href="#">All T-shirts</a></li>
                            <li><a href="#">Plain</a></li>
                            <li><a href="#">Print</a></li>
                            <li><a href="#">Striped</a></li>
                            <li><a href="#">Long sleeved</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Vests</a></li>
                      </ul>
                    </li>

                  </ul> <!-- .cd-secondary-dropdown -->
                </li> <!-- .has-children -->
              </ul> <!-- .cd-dropdown-content -->
            </nav> <!-- .cd-dropdown -->
          </div> <!-- .cd-dropdown-wrapper -->
        </div>
        <div class="col-lg-10 text-center text-lg-right d-flex align-items-center justify-content-between">
          <!-- Search box -->
          <form id="search-form" role="search">
            <button>
              <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
            </button>
            <input type="search" id="query" name="q"
              placeholder="Search..."
              aria-label="Search within site content">
          </form>
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 mx-3 d-inline-block"><i class="fas fa-shopping-cart"></i></a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#">login</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#">register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item @@about">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item @@courses">
              <a class="nav-link" href="courses.html">COURSES</a>
            </li>
            <li class="nav-item @@events">
              <a class="nav-link" href="events.html">EVENTS</a>
            </li>
            <li class="nav-item @@blog">
              <a class="nav-link" href="blog.html">BLOG</a>
            </li>
            <li class="nav-item dropdown view">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Pages
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="teacher.html">Teacher</a>
                <a class="dropdown-item" href="teacher-single.html">Teacher Single</a>
                <a class="dropdown-item" href="notice.html">Notice</a>
                <a class="dropdown-item" href="notice-single.html">Notice Details</a>
                <a class="dropdown-item" href="research.html">Research</a>
                <a class="dropdown-item" href="scholarship.html">Scholarship</a>
                <a class="dropdown-item" href="course-single.html">Course Details</a>
                <a class="dropdown-item" href="event-single.html">Event Details</a>
                <a class="dropdown-item" href="blog-single.html">Blog Details</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- /header -->

<!-- hero slider -->
<section class="hero-section overlay bg-cover" data-background="images/banner/banner-1.jpg">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Your bright future is our mission</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
            <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Your bright future is our mission</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
            <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
      <!-- slider item -->
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Your bright future is our mission</h1>
            <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</p>
            <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Apply now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /hero slider -->

<!-- banner-feature -->
<section class="bg-gray overflow-md-hidden">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-5 align-self-end">
        <img class="img-fluid w-100" src="images/banner/banner-feature.svg" alt="banner-feature">
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="row feature-blocks bg-gray justify-content-between">
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">New Courses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad</p>
          </div>
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-blackboard mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Most View Courses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /banner-feature -->

<!-- about us -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 order-2 order-md-1">
        <h2 class="section-title">Most Subscribed Category</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat </p>
        <p>cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
        <a href="about.html" class="btn btn-primary-outline">Learn more</a>
      </div>
      <div class="col-md-5 order-1 order-md-2 mb-4 mb-md-0">
        <!-- Category banner -->
      </div>
    </div>
  </div>
</section>
<!-- /about us -->

<!-- courses -->
<section class="section-sm" id="course">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">Our Course</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs" id="course-nav">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#all">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#web-dev">Web Development</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#mobile-dev">Mobile Development</a>
      </li>
    </ul>
    
    <div class="tab-content" id="course-nav--content">
      <div id="all" class="tab-pane fade in show active">
        <div class="container my-4">
      
          <hr class="my-4">
      
          <!--Carousel Wrapper-->
          <div id="course-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
      
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
      
              <!--First slide-->
              <div class="carousel-item active">
      
                <div class="row">
                  <!-- course item -->
                  <div class="col-md-4 col-sm-6 mb-5">
                    <div class="card p-0 border-primary rounded-0 hover-shadow">
                      <img class="card-img-top rounded-0" src="images/courses/course-2.jpg" alt="course thumb">
                      <div class="card-body">
                        <h5 class="card-title">Programming</h5>
                        <ul class="list-inline mb-2">
                          <li class="list-inline-item">Kirill Eremenko</li>
                          <li class="list-inline-item">Hadelin de Ponteves</li>
                        </ul>
                        <div class="card-rating mb-2">
                          <p class="rating-point">5.0</p>
                          <div class="rating-star">
                            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M91.046,111.818c-1.19,0-2.347-0.361-3.341-1.049C87.188,110.402,68.92,97.098,64,93.515L40.336,110.74  c-1.039,0.717-2.194,1.078-3.382,1.078c-3.228,0-5.854-2.636-5.854-5.877c0-0.639,0.114-1.305,0.339-1.98l0.038-0.105  c0.253-0.71,6.214-18.996,9.008-27.575c-7.342-5.364-23.014-16.808-23.653-17.25c-1.589-1.114-2.524-2.915-2.524-4.834  c0-3.305,2.608-5.994,5.815-5.994h29.346l8.933-27.59c0.687-2.446,2.998-4.207,5.599-4.207c2.604,0,4.915,1.762,5.622,4.283  l8.947,27.514h29.35c3.185,0,5.775,2.679,5.775,5.974c0,1.932-0.936,3.74-2.502,4.838c-0.671,0.463-16.339,11.903-23.678,17.265  c2.797,8.586,8.764,26.887,9.025,27.621c0.246,0.727,0.361,1.396,0.361,2.041C96.901,109.183,94.274,111.818,91.046,111.818z   M64,88.566l1.178,0.856c8.396,6.116,24.391,17.764,24.824,18.072c0.299,0.206,0.669,0.323,1.044,0.323  c1.023,0,1.855-0.842,1.855-1.877c0-0.209-0.045-0.447-0.133-0.709c-0.148-0.371-6.698-20.473-9.506-29.094l-0.449-1.378  l1.171-0.854c2.486-1.818,24.313-17.764,24.944-18.188c0.468-0.329,0.766-0.913,0.766-1.541c0-1.069-0.813-1.974-1.775-1.974H75.663  l-9.869-30.355c-0.252-0.894-0.964-1.441-1.794-1.441c-0.829,0-1.541,0.549-1.771,1.366l-9.85,30.431H20.123  c-0.984,0-1.815,0.914-1.815,1.994c0,0.617,0.298,1.193,0.797,1.543c0.6,0.403,22.425,16.349,24.911,18.167l1.171,0.854  l-0.449,1.379c-2.716,8.344-8.937,27.436-9.504,29.086h0.001c-0.089,0.267-0.134,0.508-0.134,0.717c0,1.035,0.831,1.877,1.854,1.877  c0.38,0,0.74-0.114,1.071-0.342L64,88.566z"/></svg>
                            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M91.046,111.818c-1.19,0-2.347-0.361-3.341-1.049C87.188,110.402,68.92,97.098,64,93.515L40.336,110.74  c-1.039,0.717-2.194,1.078-3.382,1.078c-3.228,0-5.854-2.636-5.854-5.877c0-0.639,0.114-1.305,0.339-1.98l0.038-0.105  c0.253-0.71,6.214-18.996,9.008-27.575c-7.342-5.364-23.014-16.808-23.653-17.25c-1.589-1.114-2.524-2.915-2.524-4.834  c0-3.305,2.608-5.994,5.815-5.994h29.346l8.933-27.59c0.687-2.446,2.998-4.207,5.599-4.207c2.604,0,4.915,1.762,5.622,4.283  l8.947,27.514h29.35c3.185,0,5.775,2.679,5.775,5.974c0,1.932-0.936,3.74-2.502,4.838c-0.671,0.463-16.339,11.903-23.678,17.265  c2.797,8.586,8.764,26.887,9.025,27.621c0.246,0.727,0.361,1.396,0.361,2.041C96.901,109.183,94.274,111.818,91.046,111.818z   M64,88.566l1.178,0.856c8.396,6.116,24.391,17.764,24.824,18.072c0.299,0.206,0.669,0.323,1.044,0.323  c1.023,0,1.855-0.842,1.855-1.877c0-0.209-0.045-0.447-0.133-0.709c-0.148-0.371-6.698-20.473-9.506-29.094l-0.449-1.378  l1.171-0.854c2.486-1.818,24.313-17.764,24.944-18.188c0.468-0.329,0.766-0.913,0.766-1.541c0-1.069-0.813-1.974-1.775-1.974H75.663  l-9.869-30.355c-0.252-0.894-0.964-1.441-1.794-1.441c-0.829,0-1.541,0.549-1.771,1.366l-9.85,30.431H20.123  c-0.984,0-1.815,0.914-1.815,1.994c0,0.617,0.298,1.193,0.797,1.543c0.6,0.403,22.425,16.349,24.911,18.167l1.171,0.854  l-0.449,1.379c-2.716,8.344-8.937,27.436-9.504,29.086h0.001c-0.089,0.267-0.134,0.508-0.134,0.717c0,1.035,0.831,1.877,1.854,1.877  c0.38,0,0.74-0.114,1.071-0.342L64,88.566z"/></svg>
                            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M91.046,111.818c-1.19,0-2.347-0.361-3.341-1.049C87.188,110.402,68.92,97.098,64,93.515L40.336,110.74  c-1.039,0.717-2.194,1.078-3.382,1.078c-3.228,0-5.854-2.636-5.854-5.877c0-0.639,0.114-1.305,0.339-1.98l0.038-0.105  c0.253-0.71,6.214-18.996,9.008-27.575c-7.342-5.364-23.014-16.808-23.653-17.25c-1.589-1.114-2.524-2.915-2.524-4.834  c0-3.305,2.608-5.994,5.815-5.994h29.346l8.933-27.59c0.687-2.446,2.998-4.207,5.599-4.207c2.604,0,4.915,1.762,5.622,4.283  l8.947,27.514h29.35c3.185,0,5.775,2.679,5.775,5.974c0,1.932-0.936,3.74-2.502,4.838c-0.671,0.463-16.339,11.903-23.678,17.265  c2.797,8.586,8.764,26.887,9.025,27.621c0.246,0.727,0.361,1.396,0.361,2.041C96.901,109.183,94.274,111.818,91.046,111.818z   M64,88.566l1.178,0.856c8.396,6.116,24.391,17.764,24.824,18.072c0.299,0.206,0.669,0.323,1.044,0.323  c1.023,0,1.855-0.842,1.855-1.877c0-0.209-0.045-0.447-0.133-0.709c-0.148-0.371-6.698-20.473-9.506-29.094l-0.449-1.378  l1.171-0.854c2.486-1.818,24.313-17.764,24.944-18.188c0.468-0.329,0.766-0.913,0.766-1.541c0-1.069-0.813-1.974-1.775-1.974H75.663  l-9.869-30.355c-0.252-0.894-0.964-1.441-1.794-1.441c-0.829,0-1.541,0.549-1.771,1.366l-9.85,30.431H20.123  c-0.984,0-1.815,0.914-1.815,1.994c0,0.617,0.298,1.193,0.797,1.543c0.6,0.403,22.425,16.349,24.911,18.167l1.171,0.854  l-0.449,1.379c-2.716,8.344-8.937,27.436-9.504,29.086h0.001c-0.089,0.267-0.134,0.508-0.134,0.717c0,1.035,0.831,1.877,1.854,1.877  c0.38,0,0.74-0.114,1.071-0.342L64,88.566z"/></svg>
                            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M91.046,111.818c-1.19,0-2.347-0.361-3.341-1.049C87.188,110.402,68.92,97.098,64,93.515L40.336,110.74  c-1.039,0.717-2.194,1.078-3.382,1.078c-3.228,0-5.854-2.636-5.854-5.877c0-0.639,0.114-1.305,0.339-1.98l0.038-0.105  c0.253-0.71,6.214-18.996,9.008-27.575c-7.342-5.364-23.014-16.808-23.653-17.25c-1.589-1.114-2.524-2.915-2.524-4.834  c0-3.305,2.608-5.994,5.815-5.994h29.346l8.933-27.59c0.687-2.446,2.998-4.207,5.599-4.207c2.604,0,4.915,1.762,5.622,4.283  l8.947,27.514h29.35c3.185,0,5.775,2.679,5.775,5.974c0,1.932-0.936,3.74-2.502,4.838c-0.671,0.463-16.339,11.903-23.678,17.265  c2.797,8.586,8.764,26.887,9.025,27.621c0.246,0.727,0.361,1.396,0.361,2.041C96.901,109.183,94.274,111.818,91.046,111.818z   M64,88.566l1.178,0.856c8.396,6.116,24.391,17.764,24.824,18.072c0.299,0.206,0.669,0.323,1.044,0.323  c1.023,0,1.855-0.842,1.855-1.877c0-0.209-0.045-0.447-0.133-0.709c-0.148-0.371-6.698-20.473-9.506-29.094l-0.449-1.378  l1.171-0.854c2.486-1.818,24.313-17.764,24.944-18.188c0.468-0.329,0.766-0.913,0.766-1.541c0-1.069-0.813-1.974-1.775-1.974H75.663  l-9.869-30.355c-0.252-0.894-0.964-1.441-1.794-1.441c-0.829,0-1.541,0.549-1.771,1.366l-9.85,30.431H20.123  c-0.984,0-1.815,0.914-1.815,1.994c0,0.617,0.298,1.193,0.797,1.543c0.6,0.403,22.425,16.349,24.911,18.167l1.171,0.854  l-0.449,1.379c-2.716,8.344-8.937,27.436-9.504,29.086h0.001c-0.089,0.267-0.134,0.508-0.134,0.717c0,1.035,0.831,1.877,1.854,1.877  c0.38,0,0.74-0.114,1.071-0.342L64,88.566z"/></svg>
                            <?xml version="1.0" ?><!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M91.046,111.818c-1.19,0-2.347-0.361-3.341-1.049C87.188,110.402,68.92,97.098,64,93.515L40.336,110.74  c-1.039,0.717-2.194,1.078-3.382,1.078c-3.228,0-5.854-2.636-5.854-5.877c0-0.639,0.114-1.305,0.339-1.98l0.038-0.105  c0.253-0.71,6.214-18.996,9.008-27.575c-7.342-5.364-23.014-16.808-23.653-17.25c-1.589-1.114-2.524-2.915-2.524-4.834  c0-3.305,2.608-5.994,5.815-5.994h29.346l8.933-27.59c0.687-2.446,2.998-4.207,5.599-4.207c2.604,0,4.915,1.762,5.622,4.283  l8.947,27.514h29.35c3.185,0,5.775,2.679,5.775,5.974c0,1.932-0.936,3.74-2.502,4.838c-0.671,0.463-16.339,11.903-23.678,17.265  c2.797,8.586,8.764,26.887,9.025,27.621c0.246,0.727,0.361,1.396,0.361,2.041C96.901,109.183,94.274,111.818,91.046,111.818z   M64,88.566l1.178,0.856c8.396,6.116,24.391,17.764,24.824,18.072c0.299,0.206,0.669,0.323,1.044,0.323  c1.023,0,1.855-0.842,1.855-1.877c0-0.209-0.045-0.447-0.133-0.709c-0.148-0.371-6.698-20.473-9.506-29.094l-0.449-1.378  l1.171-0.854c2.486-1.818,24.313-17.764,24.944-18.188c0.468-0.329,0.766-0.913,0.766-1.541c0-1.069-0.813-1.974-1.775-1.974H75.663  l-9.869-30.355c-0.252-0.894-0.964-1.441-1.794-1.441c-0.829,0-1.541,0.549-1.771,1.366l-9.85,30.431H20.123  c-0.984,0-1.815,0.914-1.815,1.994c0,0.617,0.298,1.193,0.797,1.543c0.6,0.403,22.425,16.349,24.911,18.167l1.171,0.854  l-0.449,1.379c-2.716,8.344-8.937,27.436-9.504,29.086h0.001c-0.089,0.267-0.134,0.508-0.134,0.717c0,1.035,0.831,1.877,1.854,1.877  c0.38,0,0.74-0.114,1.071-0.342L64,88.566z"/></svg>
                          </div>
                          <div class="rating-user">
                            (1.000.000)
                          </div>
                        </div>
                        <div class="card-pricing">
                          $50
                          <div class="original-price ml-1">
                            $100
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- /course item -->
      
                  <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card mb-2">
                      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                        <a class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-lg-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                        alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                          card's content.</p>
                        <a class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>
                </div>
      
              </div>
              <!--/.First slide-->

              <a class="carousel-control-prev" href="#course-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#course-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
      
            </div>
            <!--/.Slides-->
      
          </div>
          <!--/.Carousel Wrapper-->
      </div>

      <div id="web-dev" class="tab-pane fade">

      </div>
      
      <div id="mobile-dev" class="tab-pane fade">
    
      </div>
    </div>
  </div>
</section>
<!-- /courses -->

<!-- cta -->
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="text-white font-secondary mb-0">Answer a few questions for your top picks</h6>
        <h2 class="section-title text-white">Get personal learning recommendations</h2>
        <a href="contact.html" class="btn btn-secondary">get started</a>
      </div>
    </div>
  </div>
</section>
<!-- /cta -->

<!-- success story -->
<section class="section bg-cover" data-background="images/backgrounds/success-story.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-4 position-relative success-video">
        <a class="play-btn venobox" href="https://youtu.be/nA1Aqp0sPQo" data-vbtype="video">
          <i class="ti-control-play"></i>
        </a>
      </div>
      <div class="col-lg-6 col-sm-8">
        <div class="bg-white p-5">
          <h2 class="section-title">Success Stories</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /success story -->

<!-- events -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">Upcoming Events</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="events.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">see all</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
  <!-- event -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-1.jpg" alt="event thumb">
        <div class="card-date"><span>18</span><br>December</div>
      </div>
      <div class="card-body">
        <!-- location -->
        <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
        <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
      </div>
    </div>
  </div>
  <!-- event -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-2.jpg" alt="event thumb">
        <div class="card-date"><span>21</span><br>December</div>
      </div>
      <div class="card-body">
        <!-- location -->
        <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
        <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
      </div>
    </div>
  </div>
  <!-- event -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-3.jpg" alt="event thumb">
        <div class="card-date"><span>23</span><br>December</div>
      </div>
      <div class="card-body">
        <!-- location -->
        <p><i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka</p>
        <a href="event-single.html"><h4 class="card-title">Lorem ipsum dolor amet, consectetur adipisicing.</h4></a>
      </div>
    </div>
  </div>
</div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="course.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
      </div>
    </div>
  </div>
</section>
<!-- /events -->

<!-- teachers -->
<!-- /teachers -->

<!-- blog -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Latest News</h2>
      </div>
    </div>
    <div class="row justify-content-center">
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/blog/post-1.jpg" alt="Post thumb">
      <div class="card-body">
        <!-- post meta -->
        <ul class="list-inline mb-3">
          <!-- post date -->
          <li class="list-inline-item mr-3 ml-0">August 28, 2018</li>
          <!-- author -->
          <li class="list-inline-item mr-3 ml-0">By Somrat Sorkar</li>
        </ul>
        <a href="blog-single.html">
          <h4 class="card-title">Lorem ipsum dolor amet, adipisicing eiusmod tempor.</h4>
        </a>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicin</p>
        <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
      </div>
    </div>
  </article>
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/blog/post-2.jpg" alt="Post thumb">
      <div class="card-body">
        <!-- post meta -->
        <ul class="list-inline mb-3">
          <!-- post date -->
          <li class="list-inline-item mr-3 ml-0">August 13, 2018</li>
          <!-- author -->
          <li class="list-inline-item mr-3 ml-0">By Jonathon Drew</li>
        </ul>
        <a href="blog-single.html">
          <h4 class="card-title">Lorem ipsum dolor amet, adipisicing eiusmod tempor.</h4>
        </a>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicin</p>
        <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
      </div>
    </div>
  </article>
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="images/blog/post-3.jpg" alt="Post thumb">
      <div class="card-body">
        <!-- post meta -->
        <ul class="list-inline mb-3">
          <!-- post date -->
          <li class="list-inline-item mr-3 ml-0">August 24, 2018</li>
          <!-- author -->
          <li class="list-inline-item mr-3 ml-0">By Alex Pitt</li>
        </ul>
        <a href="blog-single.html">
          <h4 class="card-title">Lorem ipsum dolor amet, adipisicing eiusmod tempor.</h4>
        </a>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicin</p>
        <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
      </div>
    </div>
  </article>
</div>
  </div>
</section>
<!-- /blog -->

<!-- footer -->
<footer>
  <!-- newsletter -->
  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
          <h3 class="text-white">Subscribe Now</h3>
          <form action="#">
            <div class="input-wrapper">
              <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
              <button type="submit" value="send" class="btn btn-primary">Join</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- footer content -->
  <div class="footer bg-footer section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
          <!-- logo -->
          <a class="logo-footer" href="index.html"><img class="img-fluid mb-4" src="images/logo.png" alt="logo"></a>
          <ul class="list-unstyled">
          </ul>
        </div>
        <!-- company -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5">COMPANY</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-color" href="about.html">About Us</a></li>
            <li class="mb-3"><a class="text-color" href="teacher.html">Our Instructor</a></li>
            <li class="mb-3"><a class="text-color" href="contact.html">Contact</a></li>
            <li class="mb-3"><a class="text-color" href="blog.html">Blog</a></li>
          </ul>
        </div>
        <!-- links -->
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="text-white mb-5">LINKS</h4>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-color" href="courses.html">Courses</a></li>
            <li class="mb-3"><a class="text-color" href="event.html">Events</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright py-4 bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text-sm-left text-center">
          <p class="mb-0">Copyright
            <script>
              var CurrentYear = new Date().getFullYear()
              document.write(CurrentYear)
            </script> 
            © themefisher</p>
        </div>
        <div class="col-sm-5 text-sm-right text-center">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-facebook text-primary"></i></a></li>
            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-twitter-alt text-primary"></i></a></li>
            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-linkedin text-primary"></i></a></li>
            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- aos -->
<script src="plugins/aos/aos.js"></script>
<!-- venobox popup -->
<script src="plugins/venobox/venobox.min.js"></script>
<!-- filter -->
<script src="plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
<script src="plugins/google-map/gmap.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery.menu-aim.js"></script> <!-- menu aim -->
<script src="js/main.js"></script> <!-- Resource jQuery -->

</body>
</html>