<!DOCTYPE html>
<html lang="zxx">

  <head>
    <meta charset="utf-8">
    <title>Educenter</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
    
    <!-- slick slider -->
    <link rel="stylesheet" href="/plugins/slick/slick.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/plugins/animate/animate.css">
    <!-- aos -->
    <link rel="stylesheet" href="/plugins/aos/aos.css">
    <!-- venobox popup -->
    <link rel="stylesheet" href="/plugins/venobox/venobox.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
    <link href="/css/style.css" rel="stylesheet">
    
    <script src="/js/modernizr.js"></script> <!-- Modernizr -->

    <!--Favicon-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">

  </head>
  <body>
    <div class="preloader">
      <img src="/images/preloader.gif" alt="preloader">
    </div>
  
    <%- body %>
    <!-- footer -->
    <% include ./partials/homeFooter %>
    <!-- /footer -->

    <!-- jQuery -->
    <script src="/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="/plugins/slick/slick.min.js"></script>
    <!-- aos -->
    <script src="/plugins/aos/aos.js"></script>
    <!-- venobox popup -->
    <script src="/plugins/venobox/venobox.min.js"></script>
    <!-- filter -->
    <script src="/plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
    <script src="/plugins/google-map/gmap.js"></script>

    <!-- Main Script -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/jquery.menu-aim.js"></script> <!-- menu aim -->
    <script src="/js/categories.js"></script> <!-- Resource jQuery -->
    <script src="/js/index.js"></script>
    <script src="/js/userMenu.js"></script>
    <script src="/js/userAccount.js"></script>
  </body> 
</html>