<div id="course-goals" class="mx-auto">
    <p class="my-5">The descriptions you write here will help students decide if your course is the one for them.</p>
    <label for="form-goals">What will students learn in your course?</label>
    <form id="form-goals">
        <input type="text" class="form-control" placeholder="Example: Be able to program in Python professionally">
        <button type="button" class="btn btn-outline-primary my-3" style="margin-left: 15px;">+ Add an answer</button>
    </form>
    <label for="form-prerequisites">Are there any course requirements or prerequisites?</label>
    <form id="form-prerequisites">
        <input type="text" class="form-control" placeholder="Example: No programming experience needed - I'll teach you everything you need to know">
        <button type="button" class="btn btn-outline-primary my-3" style="margin-left: 15px;">+ Add an answer</button>
    </form>
    <label for="form-targeted-students">Who are your target students?</label>
    <form id="form-targeted-students">
        <input type="text" class="form-control" placeholder="Example: If you want to learn to code from scratch through building fun and useful projects, then take this course.">
        <button type="button" class="btn btn-outline-primary my-3" style="margin-left: 15px;">+ Add an answer</button>
    </form>
</div>