<!-- header -->
<%- include('partials/homeHeader', {user: user}); %>
<!-- /header -->
<!-- page title -->
<section class="page-title-section overlay" data-background="/images/backgrounds/page-title.jpg">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul class="list-inline custom-breadcrumb">
                <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Account</a></li>
                <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
            </ul>
            <p class="text-lighten">Edit your account settings and change your password here.</p>
        </div>
    </div>
</div>
</section>
<!-- /page title -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <div id="editSectionAlert" class=""></div>
                <p>Name:</p>
                <div class="input-group mb-5" id="edit-name">
                    <input type="text" id="input-edit-name" class="form-control" placeholder="Enter New Name">
                    <button type="button" id="btn-edit-name" class="btn btn-primary btn-lg">Save</button>
                </div>
                <p>Email:</p>
                <div class="input-group mb-5" id="edit-email">
                    <input type="text" class="form-control" disabled="true" style="background-color: white;" placeholder="Your email address is <%= user.email %>">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editEmailModal"><i class="fas fa-pencil-alt fa-1x"></i></button>
                </div>
                <p>Password:</p>
                <form>
                    <div class="form-group" id="edit-password">
                        <input type="password" id="current-password" class="form-control my-3" placeholder="Enter Current Password">
                        <input type="password" id="new-password" class="form-control my-3" placeholder="Enter New Password">
                        <input type="password" id="re-new-password" class="form-control" id="" placeholder="Re-type New Password">
                    </div>
                    <button type="button" id="btn-edit-password" class="btn btn-primary btn-lg">Change password</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="editEmailModal">
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
             <h5 class="modal-title">Change Your Email!</h5>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div id="editEmailModalAlert" class=""></div>
                <form>
                    <div class="form-group">
                        <input
                        type="email"
                        id="user-new-email"
                        name="email"
                        class="form-control"
                        value="<%= user.email %>"
                        />
                    </div>
                    <div class="form-group">
                        <input
                        type="password"
                        id="user-password"
                        name="password"
                        class="form-control"
                        placeholder="Enter Your Password"
                        />
                    </div>
                    <p>For your security, if you change your email address your saved credit card information will be deleted.</p>
                    <button id="btn-edit-email" class="btn btn-primary btn-block mt-4 w-25 justify-self-end">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>